
<div class="card" style="margin: 4.5rem 0 1rem 0;">
    <div class="card-content">
      <div class="row" style="padding: 4%;  border: solid 1px #DCDBDC;margin-top: 5%;">
        <p style="font-size: 30px">Hello, <strong>{{user_name}}</strong> has been greeted <strong>{{counter}}</strong> time(s)</p>
      </div>
    </div>
</div>

