/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.container {
  margin-top: 42px;
}

.counter {
    margin-top: 0;
    /* border: solid #4ec8ba 1px; */
    background-color: white;
    width: 65px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
}

.errorMessage {
  padding: 1px;
  border-radius: 3px;
  color: #fff;
  background-color: #EF534F;
}

/* .infoMessage {
  padding: 1px;
  border-radius: 3px;
  color: #fff;
  background-color: yellow;
  display: block;
} */

table {
  border: solid 1px #DCDBDC !important;
}
